// 容器
.router-transition {
  position: relative;
  overflow: hidden;

  // slide 模式

  // 前进
  .router-transition-slide-forward-leave-active {
    position: absolute;
    animation: slide-forward-out 0.5s;
  }

  .router-transition-slide-forward-enter-active {
    animation: slide-forward-in 0.5s;
  }

  // 后退
  .router-transition-slide-back-leave-active {
    position: absolute;
    animation: slide-back-out 0.5s;
  }

  .router-transition-slide-back-enter-active {
    animation: slide-back-in 0.5s;
  }
}

@keyframes slide-forward-out {
  from {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
}

@keyframes slide-forward-in {
  from {
    opacity: 0.2;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-back-out {
  from {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

@keyframes slide-back-in {
  from {
    opacity: 0.2;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
